html(lang="fr")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="css/style.css")
		script(type='text/javascript' src="/h5p/core/js/jquery.js")
		title Logiquiz by La Digitale
	body.accueil
		div#loader
			img(src="/img/spinner.gif" alt="Chargement...")
		nav#nav
			span#titre Logiquiz by La Digitale
		div#conteneur
			h1 Bienvenue !
			p.description Le logiciel <b>Logiquiz by La Digitale</b> vous permet de créer vos contenus interactifs H5P hors ligne et en toute simplicité.
			hr
			p H5P est une boîte à outils libre proposant plus de 40 types de contenus interactifs à utiliser en classe en présence ou à distance.
			a.bouton.primaire(href="/creer")
				span.material-icons add
				span Créer un contenu H5P
			label.bouton.primaire.televerser(for="televerser" role="button" tabindex="0")
				span.material-icons folder_open
				span Charger un fichier H5P
			input#televerser(type="file" accept=".h5p" name="file" style="display:none;")
		div#liste
			!=liste
		div#credits
			p <b>Pour lire les contenus H5P en ligne et générer un lien de partage, vous pouvez utiliser <a href="https://ladigitale.dev/digiquiz/" target="_blank"><u>Digiquiz</u></a></b>
			p Logiquiz v1.1.1
			p Un logiciel proposé par <a href="https://ladigitale.dev/" target="_blank"><u>La Digitale</u></a>. Contact : ez@ladigitale.dev
			p <a href="https://opencollective.com/ladigitale" target="_blank"><u>Je souhaite apporter mon soutien ❤️.</u></a>
		div#modale-confirmation.modale
			div.conteneur-modale
				p.message
				div.modale-action
					button#annuler.bouton.primaire Non
					button#confirmer.bouton.primaire Oui
		div#modale-alerte.modale
			div.conteneur-modale
				p.message
				div.modale-action
					button#valider.bouton.primaire Fermer
		script(type='text/javascript' src="/js/accueil.js")
		script(type='text/javascript' src="/js/filesaver.js")
