html(lang="fr")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" href="/css/style.css")
		script(type='text/javascript')!=integration
		each script in scripts
			script(type='text/javascript' src!=script)
		title Logiquiz by La Digitale
	body.editeur
		div#loader
			img(src="/img/spinner.gif" alt="Chargement...")
		nav#nav
			span#titre Logiquiz by La Digitale
			div.actions
				button#h5p-edit.bouton.action Éditer
				button#h5p-preview.bouton.action.desactive Afficher
				button#h5p-save.bouton.action.desactive Enregistrer
				a.bouton#retour(href="/") Mes contenus
		div#conteneur
			div.h5p-create
				div.h5p-editor
			div.h5p-read
				div.h5p-player
		div#modale-alerte.modale
			div.conteneur-modale
				p.message
				div.modale-action
					button#valider.bouton.primaire Fermer
		script(type="text/javascript" src="/js/editeur.js")
			