html(lang="fr" class="h5p")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" href="/css/style.css")
		each style in styles
			link(rel="stylesheet" href!=style)
		each script in scripts
			script(type='text/javascript' src!=script)
		script(type='text/javascript')!=integration
		title Logiquiz by La Digitale
	body.lecteur
		div#loader
			img(src="/img/spinner.gif" alt="Chargement...")
		nav#nav
			span#titre Logiquiz by La Digitale
			a.bouton#retour(href="/") Mes contenus
		div#conteneur
			div.h5p-read
				div.h5p-content(data-content-id=contentId)
		script(type="text/javascript" src="/js/lecteur.js")
			