@font-face {
	font-family: 'HKGrotesk-Black';
	src: url('../fonts/HKGrotesk-Black.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-size: 24px!important;
    font-style: normal;
    display: inline-block;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
	font-size: inherit;
	line-height: inherit;
	vertical-align: middle;
	text-transform: none!important;
}

body {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #001d1d;
	margin: 0;
	line-height: 1.5;
	background-color: #fff;
}

a {
    color: #f7d000;
    text-decoration: none;
}

a,
button {
    font-family: 'Roboto';
}

b,
strong {
    font-weight: bold;
}

p {
    margin-top: 0;
	margin-bottom: 16px;
	font-weight: 400;
}

p.description {
    font-size: 20px;
    font-weight: 400;
}

hr {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: content-box;
    height: 0;
    overflow: visible;
}

#liste hr {
	border-top: 1px solid #f7d000;
	margin-top: 20px;
    margin-bottom: 32px;
}

#nav {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    border-bottom: 2px solid #001d1d;
    position: sticky;
    top: 0;
    z-index: 1020;
	background-color: #f7d000;
}

#nav #titre {
	font-family: 'HKGrotesk-Black', sans-serif;
    color: #001d1d;
	font-size: 35px;
	font-weight: 400;
	display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 16px;
}

#nav .bouton {
	display: inline-block;
	background: #001d1d;
	color: #fff;
    font-weight: 500;
	margin-right: 24px;
	padding: 6px 12px;
	line-height: 1.5;
}

#nav .bouton.action  {
    background: #00ced1;
    color: #001d1d;
}

#nav .bouton.action.desactive  {
    background: #aaa!important;
    color: #001d1d!important;
}

#nav .bouton:last-child {
    margin-right: 0;
}

#conteneur {
	margin: 40px 32px;
	padding: 32px;
	background-color: #f7f7f7;
    border-radius: 5px;
	box-sizing: border-box;
}

.accueil #conteneur {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.accueil #conteneur h1 {
    font-size: 43px;
    font-weight: 400;
    line-height: 1.2;
	margin-top: 0;
	margin-bottom: 8px;
	text-indent: -4px;
}

.accueil #conteneur .bouton {
	padding: 10px 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.accueil .bouton.televerser {
    margin-left: 24px;
}

.bouton {
    display: inline-block;
    font-weight: 500;
    color: #001d1d;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bouton:active,
.bouton:hover {
	opacity: 0.9;
}

.bouton.primaire {
    font-weight: 500;
    color: #001d1d;
    background-color: #f7d000;
    border-color: #f7d000;
}

.bouton.exporter,
.bouton.telecharger,
.bouton.editer {
    color: #fff;
    background-color: #777;
    border-color: #777;
    margin-right: 16px;
}

.bouton.supprimer {
    color: #fff;
    background-color: #ff6262;
    border-color: #ff6262;
}

.bouton span {
    vertical-align: middle;
}

#nav .bouton:active,
#nav .bouton:hover {
	opacity: 1;
	background: #2b3640;
}

#nav .bouton.action:active,
#nav .bouton.action:hover {
	opacity: 1;
	background: #02e1e4;
}

.bouton span.material-icons {
    margin: 0 8px 0 0;
}

#conteneur .bouton {
	margin-top: 8px;
}

#liste {
    display: none;
	margin: 32px 32px 64px;
}

#liste h2 {
    font-size: 28px;
	margin-top: 0;
	margin-bottom: 0;
    font-weight: 400;
    line-height: 1;
}

#liste h5 {
    font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

#contenu-liste {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}

#liste .item {
    position: relative;
    display: flex;
	width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
	box-sizing: border-box;
	margin-bottom: 18px;
}

#liste .item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#liste .item:last-child {
    border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-bottom: 0;
}

#liste .item .petit {
	display: flex;
    font-size: 80%;
    font-weight: 400;
}

#liste .item .petit .material-icons {
	font-size: 18px!important;
	color: #00ced1;
	margin-right: 5px;
}

#liste .item .titre {
    margin-right: auto;
	padding: 5px 8px;
	align-self: center;
	box-sizing: border-box;
}

#liste .item .titre a {
	color: #001d1d;
	display: inline-block;
	margin-bottom: 5px;
}

#liste .item .meta {
	line-height: 1;
}

#liste .item .actions {
	padding: 5px 8px;
}

#liste .item .actions .bouton {
	line-height: 1;
}

#liste .item .bouton span {
	margin: 0;
}

#credits {
	padding: 0 32px 64px;
	color: #777;
}

#credits a {
	color: #777;
}

#loader {
	position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.9;
    z-index: 9;
}

.editeur #conteneur,
.lecteur #conteneur {
	margin: 0;
	padding: 0;
	background: #fff;
}

.h5p .h5p-read {
	background: #fff;
	width: 100%;
    height: calc(100% - 74px)!important;
    max-width: 1239px;
	margin: 0 auto;
	padding: 32px!important;
	box-sizing: border-box;
}

.h5p-my-fullscreen-button-enter {
	display: none;
}

.h5p-player iframe {
	background: #fff;
	width: 100%;
	height: calc(100% - 74px)!important;
}

.h5p-iframe .h5p-read {
	padding: 32px!important;
	box-sizing: border-box;
}

.modale {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.modale.ouvert {
    display: flex;
    justify-content: center;
    align-items: center;
	animation-duration: 0.2s;
  	animation-delay: 0s;
  	animation-name: fonduEntrant;
  	animation-iteration-count: 1;
}

.conteneur-modale {
    font-size: 18px;
	line-height: 1.5;
    background: #fff;
    padding: 50px 45px;
    text-align: center;
    width: 90%;
	max-width: 500px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
}

.modale-action .bouton {
	padding: 10px 25px;
}

#annuler {
    margin-right: 20px;
}

.h5peditor-semi-fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}

iframe.h5peditor-semi-fullscreen {
    background: #fff;
    z-index: 100001;
}

.h5p-content.using-mouse *:not(textarea):focus {
    outline: none !important;
}

@keyframes fonduEntrant {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}

@media screen and (min-width: 1449px) {
	#conteneur {
		margin: 50px 32px;
	}
}
